.DS_Store
/Users/hugoguilbot/VALDOM/INSA/AIF2024_Guilbot/Projet_AIF/Affiches
Projet_AIF/Anno_Index
/Users/hugoguilbot/VALDOM/INSA/AIF2024_Guilbot/Projet_AIF/Dataframe
/Users/hugoguilbot/VALDOM/INSA/AIF2024_Guilbot/Projet_AIF/flagged
/Users/hugoguilbot/VALDOM/INSA/AIF2024_Guilbot/Projet_AIF/MLP-20M